div {
  padding: 10px;
  margin: auto;
  border: 1px solid lightgrey;
  background-color: lightyellow;
}
ul {
  list-style: none;
  padding: 0;
}
span {
  font-weight: bold;
}

img {
  cursor: pointer;
}

.outer {
  width: 300px;
  box-shadow: 5px 5px 2px lightgrey;
  background-color: white;
}
.it {
  font-style: italic;
}
